@use "@styles" as *;



.text-h3{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.4em;
    color: $color-white;
}

.text-h4{
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: 700;
    color: $color-blue;
}

.text-label{
    @include text-sm($color-gray, 400);
}
.text-btn{
    @include text-xs($color-white, 700);
}
.text-link{
    @include text-sm($color-red, 700);
}

.text-error{
    @include text-sm($color-red, 400);
}
