@use "@styles" as *;
.text-h3{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.4em;
    color: $color-white;
}

.text-h4{
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: 700;
    color: $color-blue;
}

.text-label{
    @include text-sm($color-gray, 700);
}
.text-btn{
    @include text-xs($color-white, 400);
}
.text-sm_important{
    @include text-sm($color-red);
}


@mixin text-sm($color: $color-gray, $fw: 400){
    font-weight: $fw;
    font-size: 1.4rem;
    line-height: 1.3em;
    color: $color;
}
@mixin text-xs($color: $color-white, $fw: 400){
    font-weight: $fw;
    font-size: 1.2rem;
    line-height: 1.33em;
    color: $color;
}

