@use "@styles" as *;


@mixin block{
    width: 100%;
}
.block-default{
    @include block;
    background: $color-white;
    border-radius: $radius-lg;
    box-shadow: $shadow-dark;
    padding: $inset-y-2 $inset-x-1;
}

