@use "@styles" as *;

.icon{
    width: 1.6rem;
    height: auto;
    display: block;
    path, rect{
        transition: $transition-default;
    }
    &_dark-gray{
        //fill: $color-dark-gray;
        path{
            fill: $color-dark-gray;
        }
        rect{
            fill: $color-dark-gray;
        }
    }

    &_sm{
        width: 1rem;
    }
}