@use "@styles" as *;

.exercises-list {
    & {
        margin-top: calc($offset-2 + $offset-5);
        width: 100%;
        display: grid;
        grid-column-gap: $offset-2;
        grid-row-gap: calc($offset-1 + $offset-5);
        grid-template-columns: repeat(1, 1fr);
        @media screen and (min-width: $breakpoint-lg) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: $breakpoint-xxl) {
            grid-template-columns: repeat(3, 1fr);
        }
        & > *{
            cursor: pointer;
        }
    }
}
.graph-on-card{
    top: -$offset-5;
}