@use "../../index" as *;


.layout{
    @include padding-1;
    & {
        @media screen and (min-width: $breakpoint-md) {
            max-width: 1900px;
            display: grid;
            grid-template-areas:
            "sidebar header"
            "sidebar content";
            grid-template-columns: 25% calc(75% - $offset-5);
            grid-template-rows: 5rem auto;
            grid-gap: $offset-5;
            padding: 0;
            padding-right: $offset-1;
        }

    }

    & > .sidebar{
        grid-area: sidebar;
    }
    & > .header{
        grid-area: header;
    }
    & > main{
        grid-area: content;
        @media screen and (min-width: $breakpoint-md) {
            padding-bottom: $offset-5;
        }
    }
}


