@use "../../../index" as *;

.sidebar{
    &{
        position: fixed;
        z-index: $layer-2;
        @media screen and (min-width: $breakpoint-md){
            position: sticky;
        }
        background: $gradient-dark;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        transition: all $transition-duration-4 ease-in-out;
        padding: $inset-y-1 calc(#{$inset-x-1} /2);
    }

    &_closed{
        transform: translateX(-100%);
    }

    & .cross-container{
        position: absolute;
        right: $offset-1;
        top: $offset-1;
        width: fit-content;
        cursor: pointer;
    }
    & .cross{
        pointer-events: none;
        fill: $color-white;
        width: 3rem;
    }
    &__hidden-content,
    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: $offset-2;
    }

    &__content{
        margin-top: $offset-1;
        margin-bottom: $offset-1;
        padding: 0 calc(#{$inset-x-1} /2);
    }

    &__hidden{
        display: block;
        transition: all $transition-duration-4 ease-out;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        &_opened{
            max-height: 1000px;
        }
    }

    &__link{
        &{
            background: transparent;
            transition: $transition-default;
            display: flex;
            align-items: center;
            width: 100%;
            gap: $offset-1;
            color: $color-white;
            @include padding-1;
            user-select: none;
            cursor: pointer;
            border-radius: $radius-xs;
        }
        &:hover{
            background: $color-dark-gray-2;
        }
        &_active{
            background: $gradient-red !important;
        }
        &-img{
            width: 3.3rem;
            display: flex;
            justify-content: center;
        }
        &-label{
            flex-grow: 1;
        }
    }


    &__strip{
        height: 0.12rem;
        background: $color-white;
        width: 100%;
    }
}