@use "@styles" as *;

.edited-exercise{
    &{
        display: flex;
        flex-direction: column;
        gap: $offset-2;
    }
    &__head{
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-buttons{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 1rem;
            width: fit-content;
        }

    }
}
