@use "../../../index" as *;

.header {
    & {
        padding: $inset-y-1 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__buttons{
        display: flex;
        justify-content: flex-end;
        gap: $offset-3;
    }

    &__path {
        display: flex;
        width: fit-content;
        gap: 1rem;
        @include text-sm($color-gray, 400);
        cursor: default;

        &-current {
            white-space: nowrap;
            color: $color-dark-blue;
        }
    }

    &__create-exercise{
    }
    &__burger {
        & {
            width: 2.5rem;
            height: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            cursor: pointer;
        }

        & > div {
            border-radius: $radius-xs;
            height: 0.35rem;
            background: $color-gray;
        }
    }

    &__title {
        margin-top: 0.6rem;
        @include text-h5($color-dark-blue, 700);
    }
}