@use "@styles" as *;

.nice-input {
    &{
        border-radius: $radius-sm;
        @include input;
        @include padding-1;
        border: $border-input;
    }

    &__input {
        @include stretched(absolute);
        padding: inherit;
        border-radius: inherit;
        z-index: $layer-1;
        transition: all $transition-duration ease-in-out;
    }
    &_error{
        border: $border-input-error !important;
    }
    &__error{
        padding-left: $inset-x-1;
        margin-top: $inset-y-1;
    }

    &__label {
        display: block;
        background-color: $color-white;
        position: relative;
        width: fit-content;
        padding: 0.2em;
        z-index: $layer-2;
        pointer-events: none;
        transition: all $transition-duration ease-in-out;
    }

    &:focus-within{
        border: $border-input-focused;
        .nice-input__input{
            outline: none;
        }
        .nice-input__label{
            color: $color-blue;
        }
    }
    &__label_up{
        transform: translateY(-90%) scale(0.9);
    }

    svg{
        margin-left: auto ;
        z-index: $layer-2;
    }
}

