@use "../../../index" as *;

.dropdown{
    &{
        width: 100%;
        height: 100%;
        cursor:pointer;
        user-select: none;
        position: relative;
    }

    &__trigger{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    &__list{
        position: absolute;
        top: 100%;
        min-width: 100%;
        width: fit-content;
        padding: 0;
        background: $color-white;
        z-index: $layer-1;
        max-height: 0px;
        transition: $transition-default;
        overflow-y: hidden;
        &_opened{
            padding: 0.5rem 0;
            max-height: 7.5rem;
            overflow-y: auto;

        }

        & > *{
            transition: $transition-default;
            margin-top: 0.5rem;
            //&:hover{
            //
            //}
        }
    }
    path{
        fill: $color-gray;
    }
}