@use "@styles" as *;
//@import "normalize.css";
html {
    font-size: 9px;
    scroll-behavior: smooth;
    @media screen and (min-width: $breakpoint-sm) {
        font-size: 10px;
    }
}

body {
    font-family: $font-family;
    font-size: 1.4rem;
    color: $color-gray;
    background: $color-light;
    min-width: 30rem;
}

div {
    width: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
    width: 6px; /* толщина скроллбара */
}

*::-webkit-scrollbar-track {
    background: transparent; /* прозрачный фон трека */
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* цвет и прозрачность ползунка */
    border-radius: 10px; /* скругление */
}


/* Firefox */
* {
    scrollbar-width: thin; /* тонкий скроллбар */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* цвет ползунка и трека */
}

a {
    text-decoration: none;
}

a.active,
a {
    color: inherit;
}

img, svg {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    li {
        list-style-position: inside;

        &::marker {
            color: inherit;
        }
    }
}

//UTILITIES


.screen {
    width: 100%;
    min-height: 100vh;
    padding: $offset-5;
    display: flex;
    justify-content: center;
    //background: $color-dark-gray-5;

    background-image: linear-gradient(195deg, rgba(66, 66, 74, 0.6), rgba(25, 25, 25, 0.6)), url("@images/auth_bg.png");
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

.center-flex {
    @include center-flex;
}

.center-row {
    display: flex;
    align-items: center;
}

.center-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.mt-1 {
    margin-top: $offset-1;
}

.mt-2 {
    margin-top: $offset-2;
}

.mt-3 {
    margin-top: $offset-4;
}

.mt-4 {
    margin-top: $offset-5;
}

.mb-1 {
    margin-bottom: $offset-1;
}

.mb-2 {
    margin-bottom: $offset-2;
}

.mb-4 {
    margin-bottom: $offset-4;
}

.mb-5 {
    margin-bottom: $offset-5;
}

.ml-auto {
    margin-left: auto;
}

.ml-1{
    margin-left: $offset-1;
}

.text-center {
    text-align: center;
}


.rotate-180 {
    transform: rotate(180deg);
}

.transition-default {
    transition: $transition-default;
}

.transition-4 {
    transition: all $transition-duration-4 ease-out;
}


.w-full {
    width: 100% !important;
}

.w-fit {
    width: fit-content !important;
}

.text-h2-dark-blue{
    @include text-h2($color-dark-blue, 700);
}

.text-h3-white {
    @include text-h3($color-white, 400);
}
.text-h3-dark-blue{
    @include text-h3($color-dark-blue, 700)
}

.text-h4-dark-blue {
    @include text-h4($color-dark-blue, 700);
}

.text-h5-white {
    @include text-h5($color-white, 500);
}

.text-h5-gray {
    @include text-h5($color-gray, 400);
}

.text-h5-dark-blue {
    @include text-h5($color-dark-blue, 400);
}
.text-h5-dark-blue_bold {
    @include text-h5($color-dark-blue, 400);
}


.text-xs-gray {
    @include text-xs($color-gray, 400);
}
.text-xs-dark-blue {
    @include text-xs($color-dark-blue, 400);
}

.text-sm-dark-blue{
    @include text-sm($color-dark-blue, 400);
}