@use "@styles" as *;
//@import "normalize.css";
html{
  font-size: 10px;
}
body{
  font-family: $font-family;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
img{
  display: block;
  width: 100%;
  height: auto;
}

//UTILITIES
.screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mt-1{
  margin-top: $offset-1;
}
.mt-2{
  margin-top: $offset-2;
}
.mt-3{
  margin-top: $offset-3;
}

.mb-1{
  margin-bottom: $offset-1;
}
.mb-2{
  margin-bottom: $offset-2;
}
.mb-3{
  margin-bottom: $offset-3;
}

.text-center{
  text-align: center;
}