@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// FONTS
$font-family: "Roboto", sans-serif;

// COLORS
$color-red: #F1423B;
$color-dark: #000000;
$color-dark-gray: #4F4F52;
$color-dark-gray-5: rgba(79, 79, 82, 0.5);
$color-dark-gray-2: rgba(79, 79, 82, 0.5);
$color-gray: #7B809A;
$color-dark-blue: #344767;
$color-blue: #1E78E9;
$color-light-blue: #16C0E8;
$color-orange: #FB8E03;
$color-light-green: #BCE1BE;
$color-light-green-limpid: #4CAF5033;
$color-green: Linear/Green;
$color-light-gray: #C7CCD0;
$color-most-light-gray: #E9EAED;
$color-white: #FFF;
$color-light: #F0F2F5;

// GRADIENTS
$gradient-dark: linear-gradient(180deg, #4A4A4A 0%, #000000 100%);
$gradient-gray: linear-gradient(0deg, #D1D6DC 0.08%, #E5E9EF 100.08%);
$gradient-red: linear-gradient(180deg, #FF694C 0%, #EF3E39 100%);
$gradient-blue: linear-gradient(180deg, #439DEE 0%, #1E78E9 100%);
$gradient-light-blue: linear-gradient(0deg, rgba(22, 192, 232, 0.25) 0%, rgba(12, 108, 130, 0.05) 100.21%);
;
$gradient-green: linear-gradient(180deg, #63B967 0%, #4BA64F 100%);
$gradient-orange: linear-gradient(0deg, #FB8E03 0.08%, #FEA321 100.08%);

// BOX-SHADOWS
$shadow-red: 0px 0.2rem 0.6rem 0px #DC22655C;
$shadow-dark: 0px 0.2rem 0.6rem 0px #00000040;

//LAYERS
$layer-minus-1: -1;
$layer-1: 10;
$layer-2: 20;
$layer-3: 30;
$layer-4: 40;

//BORDERS
$radius-lg: 1.2rem;
$radius-sm: 0.8rem;
$radius-xs: 0.4rem;
$border-input: 0.1rem solid $color-light-gray;
$border-input-error: 0.1rem solid $color-red;
$border-input-focused: 0.1rem solid $color-light-blue;

//OFFSETS (по возрастанию)
$offset-1: 1.4rem;
$offset-2: 1.8rem;
$offset-3: 2.2rem;
$offset-4: 2.8rem;
$offset-5: 4.2rem;

//INSETS (по возрастанию)
$inset-x-1: 1.6rem;
$inset-y-1: 1rem;
$inset-y-2: 2.3rem;



//BREAKPOINTS
$breakpoint-md: 800px;
$breakpoint-lg: 1024px;


//MIXINS
@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin stretched($position: absolute){
    position: $position;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin input(){
    &{
        position: relative;
        width: 100%;
        background-color: $color-white;
        display: flex;
        transition: $transition-default;
    }
    &__input {
        border: none;
        @include text-sm($color-gray, 400);
        &::placeholder {
            @include text-sm($color-light-gray, 300);
        }
    }

    svg{
        path{
            fill: $color-gray;
        }
    }

    &:focus-within{
        svg{
            path{
                fill: $color-blue !important;
            }
        }
    }




    &__label_error{
        color: $color-red !important;
    }
}
@mixin padding-1{
    padding: $inset-y-1 $inset-x-1;
}
@mixin padding-2_1 {
    padding: $inset-y-2 $inset-x-1;
}
@mixin padding-btn{
    padding: calc($inset-y-1 * 1.5) $inset-x-1;
}


@mixin text-sm($color: $color-gray, $fw: 400){
    font-weight: $fw;
    font-size: 1.4rem;
    line-height: 1.3em;
    color: $color;
}

@mixin text-less($color: $color-gray, $fw: 500){
    font-weight: $fw;
    font-size: 1rem;
    line-height: 1.33em;
    color: $color;
}
@mixin text-xs($color: $color-white, $fw: 400){
    font-weight: $fw;
    font-size: 1.2rem;
    line-height: 1.33em;
    color: $color;
}
@mixin text-h3($color: $color-white, $fw: 400){
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.4em;
    color: $color;
}
@mixin text-h4($color: $color-white, $fw: 400){
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: $fw;
    color: $color;
}

@mixin text-h5($color: $color-white, $fw: 400){
    font-size: 1.6rem;
    line-height: 1.4em;
    font-weight: $fw;
    color: $color;
}

@mixin button($bg: $color-red, $color){
    background: $bg;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    @include  padding-btn;
    border-radius: $radius-sm;
    transition: all $transition-duration-2 ease-out;
    @include center-flex;
    gap: 0.6rem;
    color: $color;
    min-height: 4rem;
}


//ANIMATIONS
@keyframes expandAndFade {
    0% {
        width: 70%;
        height: 70%;
        opacity: 0.5;
    }
    100% {
        opacity: 0.1;
        width: 250%;
        height: 250%;
    }
}

$transition-duration: 0.1s;
$transition-duration-2: 0.2s;
$transition-duration-4: 0.4s;
$transition-default:  all $transition-duration ease-in-out;