@use "@styles" as *;

.exercise-graph{
    background: $gradient-red;
    width: 100%;
    position: relative;
    top: -$offset-5;
    border-radius: $radius-sm;
    box-shadow: 0px 2px 6px 0px #DC22655C;
    height: 300px;
}
