@use "../../../index" as *;

.dropdown{
    &{
        min-width: 13rem;
        width: fit-content;
        cursor:pointer;
        user-select: none;
        position: relative;
        @include text-h5($color-gray, 400);
    }

    &__trigger{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        &-btn{
            width: fit-content;
        }
    }
    &__label{
        flex-grow: 1;
        width: fit-content;
    }
    &__list{
        position: absolute;
        top: 100%;
        min-width: 100%;
        width: fit-content;
        z-index: $layer-1;
        max-height: 0px;
        transition: all 0.1s linear;
        background: $color-white;


        overflow-y: auto;
        &_opened{
            padding: 0.5rem;
            padding-left: 0;
            max-height: 7.5rem;
        }
        &_noscroll{
            overflow-y: hidden !important;
        }

        & > *{
            width: 100%;
            transition: 0.15s background linear;
            margin-top: 0.5rem;
        }
    }
    path{
        fill: $color-gray;
    }

}

